.w-75{
    margin-right:  auto;
}
.card{
    position: relative;
    left: 50px;
}
body{
    background-image: -webkit-linear-gradient(top, white, #84a9ac);
    background-image: -moz-linear-gradient(top, white, #84a9ac);
    background-image: -ms-linear-gradient(top, white, #84a9ac);
    background-image: -o-linear-gradient(top, white, #84a9ac);
    background-image: linear-gradient(to bottom, white, #84a9ac);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}