body{
    background-image: -webkit-linear-gradient(top, white,  #318fb5);
    background-image: -moz-linear-gradient(top, white,  #318fb5);
    background-image: -ms-linear-gradient(top, white,  #318fb5;
    background-image: -o-linear-gradient(top, white,  #318fb5;
    background-image: linear-gradient(to bottom, white,  #318fb5);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
